.user-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem;

    p {
        font-size: calc(1em + 1vw);
    }


    .avatar {
        border-radius: 50%;
        width: calc(3.25em + 1vw);
        height: calc(3.25em + 1vw);
    }
}