.fieldOpen-container {
    position: relative;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: auto;
    display: inline-flex;
    flex-direction: column;

    // gap: calc(3em + 2vh);
    gap: 5em;
    width: 100%;


    // flex-grow: 1;

    .openCase {
        position: relative;
        overflow: hidden;
        margin: auto;
        width: 100%;
        box-sizing: border-box;

        // width: 50vw;
        // height: 20vw;
        height: calc(7em + 8vw);
        // height: 10em;
        // min-height: 10);
        border: solid black 0.3rem;
        border-radius: 1rem;
        background-color: cadetblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);



        .line {
            position: sticky;
            width: 0.5em;
            height: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);

            background-color: rgba(159, 0, 0, 0.521);
            z-index: 1000;

        }

        .loot-box-container {
            position: absolute;
            top: 0;
            left: 100%;
            // border: 5px solid black;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: max-content;
            height: 100%;
            // transition: 8s cubic-bezier(0.075, 0.82, 0.165, 1);

            // animation: lootScroll 5s ease;


            .item-container {
                position: relative;
                height: 100%;
            }

        }


        .text-loading-items {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: calc(1em + 1vw);
            width: max-content;
            margin: 0%;
            z-index: 2000;
        }
    }


    .butts-container {
        margin: auto;
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;

        .OpenButt {
            margin: auto;
            width: 100%;
            transition: 1s all;
            font-weight: bold;

            background-color: gray;
        }

        .OpenButt.active {
            background-color: #2663f0;
        }




    }
}






@media (max-width:620px) {



    .fieldOpen-container {
        width: 100%;
        margin: auto;
        // margin: auto auto 0 auto;

        .butts-container {
            width: 100%;
        }
    }

}