.bomb-container {
    width: calc(2.25em + 1vw);
    position: relative;
    z-index: 100;
    visibility: visible;
    // transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;


    img {
        width: 100%;
    }

    meter {
        width: 100%;
    }
}